* text=auto eol=lf

# Kept out of the dist archive (composer require): users only get src/,
# composer.json, README.md and LICENSE.
/.gitattributes export-ignore
/.github       export-ignore
/.gitignore    export-ignore
/tests         export-ignore
